.tooling/mail-sys-api5d91cff0-f803-421c-97bb-8dac4d120272/mail-sys-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	
	<flow name="sendMail_Flow" doc:id="5c74253f-10ca-4ddf-b35b-52126502068b" initialState="started">
		<logger level="INFO" doc:name="Start sendMail " doc:id="dbd29fca-752b-464c-b7e5-8884768d709b" message='#["SEND MAIL START"]'/>
		<set-variable value='#["joaodev8@gmail.com"]' doc:name="Passar o nome do TL por váriavel / Buscar na process" doc:id="8965bee8-3f25-4da8-a5d2-a9602f3bb1da" variableName="email_TL"/>
		<ee:transform doc:name="Transform Message" doc:id="e381790c-aa77-4dad-9e97-2d66a9c8249b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	ID: payload.ID,
	check_view: payload.check_view,
	status: payload.status,
	categoria_ID: payload.categoria_ID,
	equipa_respons: payload.equipa_respons,
	first_email: payload.first_email,
	second_email: payload.second_email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5116aa93-f83a-4f64-949d-b5f097bbce96" >
			<when expression='#[payload.first_email is Null]'>
				<email:send doc:name="Novos Incidentes sem receber Check View após 15 minutos" doc:id="cb191a9f-e414-4be3-9f16-49b56cbb4ee8" config-ref="Email_SMTP" fromAddress="joaomulesoft@gmail.com" subject="Incidentes Sem Check_View">
					<email:to-addresses >
						<email:to-address value="#[vars.email_TL]" />
					</email:to-addresses>
					<email:body contentType="application/json" encoding="UTF-8" >
						<email:content ><![CDATA[#["Incidentes sem Check View"]]]></email:content>
					</email:body>
				</email:send>
				<db:update doc:name="Update first_email" doc:id="559ac602-5330-4e7d-8181-c8d3a1bf01c7" config-ref="Database_Config" >
					<db:sql ><![CDATA[UPDATE public."incidentes"
	SET "first_email"= NOW()
	WHERE "ID" = :ID;]]></db:sql>
					<db:input-parameters ><![CDATA[#['ID': payload.ID]]]></db:input-parameters>
				</db:update>
			</when>
			<when expression="#[payload.second_email is Null]">
				<email:send doc:name="Incidentes abertos com 15 minutos restantes para a conclusao" doc:id="899eac50-cf7d-4831-9495-c8ec22f49122" config-ref="Email_SMTP" fromAddress="joaomulesoft@gmail.com" subject="Incidentes abertos com 15 minutos para concluir!">
					<email:to-addresses>
						<email:to-address value="#[vars.email_TL]" />
					</email:to-addresses>
					<email:body contentType="application/json" encoding="UTF-8">
						<email:content><![CDATA[#["Incidentes abertos com 15 minutos para concluir!"]]]></email:content>
					</email:body>
				</email:send>
				<db:update doc:name="Update second_email" doc:id="3e69de81-ac01-4b47-bf1c-854393b875ea" config-ref="Database_Config">
					<db:sql><![CDATA[UPDATE public."incidentes"
	SET "second_email"= NOW()
	WHERE "ID" = :ID;]]></db:sql>
					<db:input-parameters><![CDATA[#['ID': payload.ID]]]></db:input-parameters>
				</db:update>
			</when>
		</choice>
		<logger level="INFO" doc:name="Finish sendMail " doc:id="622c4d4d-f030-4791-9f93-3632a102c0b8" message='#["FINISHED SEND MAIL"]' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8cde77d7-01cb-434f-be19-e43699a1ed97" >
				<logger level="INFO" doc:name="Logger" doc:id="f9d16ed7-499c-43d5-a742-aac22acdb48b" message="#[Error: error.description]"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getMail_Flow" doc:id="9b5e1051-4e7b-407c-959a-96506421c908" >
		<logger level="INFO" doc:name="Start getMails" doc:id="01981b84-94b8-4668-b729-35e7ce6c42cd" message='#["START GET MAILS"]'/>
		<email:list-imap doc:name="List - IMAP" doc:id="8aa1699e-3722-4531-b6df-7d89849f2e3b" config-ref="Email_IMAP" mailboxFolder="[Gmail]/Sent Mail"/>
		<foreach doc:name="For Each" doc:id="d27282db-8de0-48fa-9502-31be0ca9118b" >
			<set-variable value="#[payload.body]" doc:name="email-content" doc:id="372fd9e4-3635-4906-89c1-f4f4768bf3ed" variableName="email-content"/>
			<set-variable value="#[payload.attachments.'attachment-name']" doc:name="json-attachment" doc:id="c0927a58-2f57-48a9-9c47-856b7fc05d08" variableName="json-attachment"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="2c918fcf-3c6c-4bfc-a773-656ec5b7f053" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Ultimo_Email_ID: payload.attributes.id[0],
	Email_Enviados: payload.attributes.number[0],
	Emails_ID: payload.attributes.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4aff80a5-1b4b-411b-9740-3f57cfd167fb" />
		<logger level="INFO" doc:name="Finished getMails" doc:id="608b1685-7d5f-4f44-921c-ba9d31842e47" message='#["FINISHED GET MAILS"]' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="64c2ec61-f842-46b6-a497-763802f48670" >
				<set-payload value="#[error.description]" doc:name="error.description" doc:id="ca901f93-f004-46fd-8875-dfdfb4904221" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
