monitor-sys-api/src/main/mule/monitor.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:flux-connector-mule-4="http://www.mulesoft.org/schema/mule/flux-connector-mule-4"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/flux-connector-mule-4 http://www.mulesoft.org/schema/mule/flux-connector-mule-4/current/mule-flux-connector-mule-4.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="monitor_Flow" doc:id="e55ac742-71c8-4103-a6ac-c958a796946b" >
		<scheduler doc:name="Scheduler" doc:id="bfae622c-919e-42f4-9093-4d1c4835cb05" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="5f446768-cbe0-4f8e-8938-9dfd06b2ed98" config-ref="Database_Config_AWS">
			<db:sql ><![CDATA[SELECT CURRENT_DATE FROM equipas LIMIT 1]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'CURRENT_DATE': "2024-01-25"}]]]></db:input-parameters>
		</db:select>
		<set-variable value="payload" doc:name="Date" doc:id="09d0fbcf-1dcd-44d4-9584-63f4fb006c9b" variableName="date"/>
		<choice doc:name="Choice" doc:id="1943fcfb-f197-4a77-93a7-c9793e1ed7c3" >
			<when expression="#[isEmpty(vars.date)]">
				<set-payload value='#["A base de dados encontra ineoperacional"]' doc:name="Set Payload" doc:id="9d6c261c-8036-4c37-9e72-df079d2cff1e" />
				<logger level="INFO" doc:name="Logger" doc:id="90420eac-15de-4375-91f9-3702d5d96ee0" message='"A base de dados encontra ineoperacional"'/>
			</when>
			<otherwise >
				<set-payload value='#["A base de dados esta operacional"]' doc:name="Set Payload" doc:id="a4a65661-bac4-4dce-9afb-46b53e09af44" />
				<logger level="INFO" doc:name="Logger" doc:id="1d27cf22-b017-4662-9105-599ad9c5c602" message='"A base de dados esta operacional"'/>
			</otherwise>
		</choice>
	</flow>
</mule>
